@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Ubuntu+Mono:ital@0;1&display=swap');

/* font-family: 'Comfortaa', cursive;
font-family: 'Ubuntu Mono', monospace; */

html, body {
  font-family: 'Comfortaa', cursive;
  margin: 20px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Ubuntu Mono', monospace;
}

a:link {
  text-decoration: none;
}