.details-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: -5px 5px 0px 0px rgba(0, 0, 255, .2);
    width: 600px;
}

.dog-pics {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-dog-pic {
    height: 180px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -5px 5px 0px 0px rgba(0, 0, 255, .2);
    margin: 10px;
}

.heart {
    height:8%;
    width: 8%;
}

h3 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5em;
}

.details-breed-stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.85em;
    font-size: 1.1em;
    font-family: 'Ubuntu Mono', monospace;
    padding-bottom: 10px;
}

.details-traits {
    padding: 10px 0px;
}

.personality-head {
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.2em;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links button {
    margin: 5px;
    width: 150px;
    font-size: .85em;
}

.details-two-col {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.details-center-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}