

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-icon {
    margin:15px;
    height: 45px;
}

.profile-subhead {
    font-size:1.2em;
    text-decoration: underline .5px;
    text-underline-position: under;
    font-family: 'Ubuntu Mono', monospace;
    padding-bottom:5px;
  }

.profile-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.profile-quiz {
    font-weight: bold;
}

.profile-quiz label {
    padding: 5px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-quiz input {
    padding: 5px;
    margin-left: 15px;
    font-family: 'Ubuntu Mono', monospace;
    /* border: 1px dotted; */
}

.profile-quiz select {
    padding: 5px;
    margin-left: 15px;
    font-family: 'Ubuntu Mono', monospace;
    /* border: 1px dotted; */
}


.results-button {
    box-shadow: -5px 5px 0px 0px rgba(0, 0, 255, .2);
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    font-family: 'Ubuntu Mono', monospace;
    padding: 10px;
    letter-spacing: .1em;
}

.results-button-container {
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

.results-button:active {
    box-shadow: -5px 5px 0px 0px rgba(0, 0, 255, .2);
    background-color: grey;
    border-radius:  5px;
    color:white;
    padding: 10px;
    width:25%;
}

.results-button:hover {
    background-color: lightgrey;
}